@import "../../styles/custom-variables.scss";

.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  background-color: $Honey;
  .weather-selection-form {
    margin-bottom: 6rem;
  }
  .weather-table {
    width: 80%;
    margin-bottom: 6rem;
    font-family: "Oswald";
    > p {
      color: #ccc;
      span {
        color: black;
      }
    }
  }
  .weather-map {
    width: 80%;
    height: 70vh;
  }
}
