@import "../../styles/custom-variables.scss";

.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  background-color: yellowgreen;
  .weather-selection-form {
    margin-bottom: 6rem;
  }
  .weather-table {
    width: 80%;
    margin-bottom: 6rem;
    font-family: "Oswald";

    > p {
      color: darken(blue, 50%);
      span {
        color: red;
        cursor: pointer;
      }
      .unsub-btn,
      .unsub-btn:focus {
        background-color: transparent;
        padding: 0;
        border: none;
      }
    }
  }
  .weather-map {
    width: 80%;
    height: 70vh;
  }
}
